* {margin:0;padding:0;box-sizing:border-box;}
body {
	color: #222;
	background-color: #A5A6A1;
	font-family: 'Quattrocento', serif;
	font-size:18px;
	font-weight:400;
	background-image: url("../images/light_honeycomb.png");
}
header div {
	float:left;
	width:600px;
}
header h1 {
	color: #D70000;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 4em;
	margin:.5em 0 0 0;
	float: left;
}
header div img, header div p {
	float:left;
}
nav {
	background-color: rgba(255,255,255,0);
	float: right;
	margin-top:3em;
}
nav a {
	background-color: #D70000;
	color: #fff;
	text-decoration: none;
	display: block;
	float: left;
	padding: 1em;
}
nav a:hover{
	background-color: #1485CC;
}
ul {
	list-style-type: none;
}
li {
	margin:.5em 0;
}
a {
	color: #D70000;
}
img {
	float:left;
}
footer {
	float: right; /* this places the copyright text at the bottom of the page, instead of the bottom of the fold*/
	text-align: right;
	width:100%;
}
#slogan {
	/*clear:both;*/
	font-style: italic;
	font-size: 1.25em;
	font-weight: 600;
	margin: 0 auto 3em 0.25em;
}
.bodytext {
	background-color: rgba(255,255,255,.7);
	float: right;
	padding: 1em;
	width:60%;
}
#featuredworks img{
	max-width: 60%;
	padding: 2em;
}
#team {
	background-color: rgba(255,255,255,.7);
	padding: 2em;
	margin-top: 3em;
	margin-bottom: 7em;
}
#experts {
	background-color: rgb(0,0,0);
	color: #fff;
	line-height: 2em;
	/*padding: 2em 2em 0 2em;*/
	margin-bottom: 7em;
	width: 100%;
}
.columnTeam {
	float: left;
	position:relative;
	width:25%;
}
.columnTeam img {
	width:100%;
}
.columnTeam div {
	background:rgba(215,0,0,0);
	color:rgba(255,255,255,0);
	padding:1em;
	position:absolute;
	top:0;right:0;bottom:0;left:0;
}
.columnTeam:hover div {
	background:rgba(215,0,0,.8);
	color:rgba(255,255,255,1);
	transition-duration:.2s;
}
.expertheadshots {
	margin: 0;
}
#contact {
	background-color: rgba(255,255,255,.7);
	clear: both;
	padding: 2em;
	margin: 2em;
	width: 60%;
}
/*span {
	color: #999;
	font-weight: 600;
	padding-right: .5em;
}*/
.wrapper {
	margin:0 auto 0 auto;
	max-width:1200px;
	position: relative;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
