* {margin:0;padding:0;box-sizing:border-box;}
body {
	color: #8A0009;
	background-color: #A5A6A1;
	font-family: 'Quattrocento', serif;
	font-size:18px;
	font-weight:400;
	background-image: url("../images/light_honeycomb.png");
}
h1 {
	color: #ff0000;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 4em;
	margin:.5em 0 .5em 0;
}
ul {
	list-style-type: none;
}
li {
	margin:.5em 0 .5em 1em;
}
img {
	position: absolute;
}
#slogan {
	font-style: italic;
	font-size: 1.25em;
	font-weight: 600;
	margin-bottom: 50px;
}
.bodytext {
	margin-left: 500px;
	margin-bottom: 100px;
	background-color: rgba(255,255,255,.7);
	padding:20px;
	width: 700px;
	position: relative;
	left: 25px;
}
.contact{
	position: relative;
	top: 350px;
}
.wrapper {
	margin:0 auto 0 auto;
	width:85%;
}

