* {margin:0;padding:0;box-sizing:border-box;}
body {
	color: #222;
	background-color: #A5A6A1;
	font-family: 'Quattrocento', serif;
	font-size:18px;
	font-weight:400;
	background-image: url("../images/light_honeycomb.png");
}
section h1 { /*Change to #otherpageheaders?*/
	color: #D70000;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 4em;
	margin: 1em 0 .5em 0;
	float: left;
	width: 100%;
}
/*header div img,*/ header div p {  /*extraneous?*/
	float:left;
}
nav {
	background-color: rgba(255,255,255,0);
	float: right;
	margin-top:3em;
}
nav a {
	background-color: #D70000;
	color: #fff;
	text-decoration: none;
	display: block;
	float: left;
	padding: 1em;
}
nav a:hover{
	background-color: #1485CC;
}
ul {
	list-style-type: none;
}
li {
	margin:.5em 0;
}
a {
	color: #D70000;
}
footer {
	float: right; /* this places the copyright text at the bottom of the page, instead of the bottom of the fold*/
	text-align: right;
	width:100%;
}
#logoslogan {
	float: left;
	width: 100%;
}
#logomark {
	float: left;
	width: auto;
	margin: 1em .5em 5em 1em;
}
#logotext {
	float: left;
	margin: 1em 0 0 0;
	width: 50%;
}
#slogan {
	/*clear:both;*/
	font-style: italic;
	font-size: 1.42em;
	font-weight: 600;
	margin: 0;
	width: auto;
}
#mainnav {
	float: left;
	margin: 0 1em 5em 1em;
}
.bodytext { /*White box on Home page*/
	background-color: rgba(255,255,255,.7);
	float: right;
	padding: 1em;
	width: 45%;
}
/************Main Nav hexagon element***************/
section#hexagons {
    width: 610px;
    float: left;
  }
  .item {
    width: 200px;
    height: 230px;
    position: relative;
    display: inline-block;
  }
  .row2 {
    position:relative;
    top:178px;
    left:-103px;
  }
  .row3 {
    position: relative;
    top:122px;
  }
  .row4 {
    position: relative;
    top:300px;
    left:-306px;
  }
  .hexagonPosition {
    position: absolute;
    width: 200px;
    height: 400px;
    top: -85px;
  }
  .hexagonRotation1 {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
    cursor: pointer;
  }
  .hexagonRotation2 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
  .hexagonRotation3 {
    /*-webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
    box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    background:#D70000;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #hexagons p {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:100%;
    text-align:center;
    color: #fff;
  }
  #hexagons a {
  	color: #fff;
  	text-decoration: none;
  }
/************End Main Nav element*******************/
/************Hamburger button CSS****************/
.mobile-nav {
	display: none; /*makes Hamburger menu invisible as default*/
}
.menu-btn {
	background-color: #D70000;
	padding: 1em;
}
.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}
.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(255,255,255);
	z-index: 99;
}
.responsive-menu {
	display: none;
}
.expand {
	display: block !important;
	background-color: #D70000;
	padding: 1em;
	color: #fff;
}
.mobile-nav a { /*Makes mobile nav links white & removes underlines*/
	color: #fff;
	text-decoration: none;
}
/******************End Hamburger button CSS**************/
.logomarkothers { /*These are the logomarks on all other pages except the home page*/
	width: 50%;
	float: left;
}
#featuredworks img{
	max-width: 60%;
	padding: 3em 2em 3em 3em;
	float: left;
}
.workinfo { /*White background containers for work titles and descriptions*/
	background-color: rgba(255,255,255,.7);
	max-width: 30%;
	float: right;
	margin: 3em 3em 3em 0;
	padding: 1em;
}
.workinfo h2 {
	margin-bottom: 1em;
}
.workdescription p{
	margin-bottom: 1em;
}
#team {
	background-color: rgba(255,255,255,.7);
	padding: 2em;
	margin-top: 3em;
	margin-bottom: 7em;
	max-width: 56%;
	text-align: left;
}
#team h2 {
	margin-bottom: .5em;
}
#experts {
	background-color: rgb(0,0,0);
	color: #fff;
	line-height: 2em;
	/*padding: 2em 2em 0 2em;*/
	margin-bottom: 7em;
	width: 100%;
}
#experts h2{
	padding: .5em .5em .5em 5.2em;
}
.columnTeam {
	float: left;
	position:relative;
	width:25%;
}
.columnTeam img {
	width:100%;
}
.columnTeam div {
	background:rgba(215,0,0,0);
	color:rgba(255,255,255,0);
	padding:1em;
	position:absolute;
	top:0;right:0;bottom:0;left:0;
}
.columnTeam:hover div {
	background:rgba(215,0,0,.8);
	color:rgba(255,255,255,1);
	transition-duration:.2s;
}
.expertheadshots {
	margin: 0;
}
#contact {
	background-color: rgba(255,255,255,.7);
	padding: 2em;
	margin: 3em 2em 7em 0;
	max-width: 56%;
}
.wrapper {
	margin:0 auto 0 auto;
	max-width:1200px;
	position: relative;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
