/*Home page media queries here*/
@media only screen and (min-width: 1020px) and (max-width: 1260px) {
	.bodytext {
		width: 50%;
		float: left;
		margin-left: 4em;
	}
}
@media only screen and (min-width: 970px) and (max-width: 1020px) {
	.bodytext {
		width: 50%;
		float: left;
		margin-left: 2em;
	}
}
@media only screen and (min-width: 660px) and (max-width: 970px) {
	.bodytext {
		float: none;
		width: auto;
		margin: 4em;
	}
	#mainnav {
		float: none;
		width: auto;
	}
}
@media only screen and (min-width: 635px) and (max-width: 660px) {
	.bodytext {
		float: none;
		width: auto;
		margin: 4em;
	}
	#mainnav {
		float: none;
		width: auto;
	}
	#logomark {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 0;
	  width: 70%;
	}
	#logomark img {
		display: block;
		margin-left: auto;
	  margin-right: auto;
	  width: auto;
	}
	#logotext {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  width: 80%;
	}
	#logotext img {
		display: block;
		margin-left: auto;
	  margin-right: auto;
	  width: auto;
	}
	#slogan {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 3em;
	  width: 75%;
	}
	#mainnav {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  width: 70%;
	}
	#mainnav img {
		display: block;
		margin-left: auto;
	  margin-right: auto;
	  width: auto;
	}
}
@media only screen and (max-width: 635px) { /*start shrinking!*/
	.bodytext {
		float: none;
		width: auto; /*changed width to shrink*/
		margin: 4em;
		font-size: .8em;
	}
	#mainnav {
		float: none;
		width: auto;
	}
	#logomark {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 0;
	  width: 70%;
	}
	#logomark img {
		display: block;
		margin-left: auto;
	  margin-right: auto;
	  width: 30%;
	}
	#logotext {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  width: 70%;
	}
	#logotext img {
		display: block;
		margin-left: auto;
	  margin-right: auto;
	  width: 90%;
	}
	#slogan {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 3em;
	  width: 90%;					/*fixed slogan breaking problem*/
	  font-size: 1em;
	  text-align: center; /*fixed slogan breaking problem*/
	}
	#mainnav {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  width: 70%;
	}
	#mainnav img {
		display: block;
		margin-left: auto;
	  margin-right: auto;
	  width: 75%;
	}
}
/*Work page media queries here*/
@media only screen and (min-width: 1208px) and (max-width: 1260px) {
	header h1{
		padding: 0 0 0 .5em; /*Set left padding to .5em*/
	}
	nav {
		padding: 0 .5em 0 0; /*Set right padding to .5em*/
	}
}
@media only screen and (min-width: 1125px) and (max-width: 1208px) {
	header h1{
		padding: 0 0 0 .5em; /*Set left padding to .5em*/
	}
	nav {
		padding: 0 .5em 0 0; /*Set right padding to .5em*/
	}
/*New for this media query*/
	.workinfo p{
		font-size: .9em;
	}
}
@media only screen and (min-width: 900px) and (max-width: 1125px) { /*start stacking elements!*/
	header h1{
		padding: 0 0 0 .5em; /*Set left padding to .5em*/
	}
	nav {
		padding: 0 .5em 0 0; /*Set right padding to .5em*/
	}
	.workinfo p{
		font-size: .9em;
	}
/*New for this media query--Stack main page elements*/
	.workinfo { /*Container of subheader and paragraphs of each work*/
		float: none;
		margin: 3em;
		padding: 1em;
		width: auto;
		max-width: none;
	}
	.workdescription p{ /*Each bodycopy column*/
		float: left;
		width: 33%;
		padding: 1em;
		margin: 0;
	  /*-webkit-column-count: 3;
		-webkit-column-gap: 2em;
		-moz-column-count: 3;
		-moz-column-gap: 2em;*/
	}
	#featuredworks img{
		float: none;
		width: 100%;
		max-width: none;
		padding: 3em;
		margin: 0 auto 0 auto;
		}
}
@media only screen and (max-width: 900px) { /*start stacking header elements*/
	header h1{
		padding: 0 0 0 .5em; /*Set left padding to .5em*/
	}
	nav {
		padding: 0 .5em 0 0; /*Set right padding to .5em*/
	}
	.workinfo p{
		font-size: .9em;
	}
	.workinfo {
		float: none;
		margin: 3em;
		padding: 1em;
		width: auto;
		max-width: none;
	}
	.workdescription{
	  /*-webkit-column-count: 3;
		-webkit-column-gap: 2em;
		-moz-column-count: 3;
		-moz-column-gap: 2em;*/
	}
	#featuredworks img{
		float: none;
		width: 100%;
		max-width: none;
		padding: 3em;
		margin: 0 auto 0 auto;
		}
/*New for this media query*/
}

