@media only screen and (min-width: 620px) and (max-width: 970px) {
	.bodytext {
		float: none;
		width: auto;
		margin: 4em;
	}
	#mainnav {
		float: none;
		width: auto;
	}
}
@media only screen and (max-width: 620px) {
	.bodytext {
		float: none;
		width: auto;
		margin: 4em;
	}
	#mainnav {
		float: none;
		width: auto;
	}
	
}