/*Home page media queries here*/
@media only screen and (min-width: 950px) and (max-width: 1024px) { /*Center Main Hex Nav, Bodytext, & Header elements*/
	.bodytext { /*Text Content*/
		width: 75%;
  	float: none;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 12em;
	}
	section#hexagons { /*Main Hex Nav*/
		float: none;
		margin: 0 30% 0 30%;
	}
	/*Center Header elements here*/
	#logomark {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 0;
	  width: 70%;
	}
	#logomark img {
		display: block;
		margin-left: auto;
	  margin-right: auto;
	  width: auto;
	}
	#logotext {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  width: 80%;
	}
	#logotext img {
		display: block;
		margin-left: auto;
	  margin-right: auto;
	  width: auto;
	}
	#slogan {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 3em;
	  width: auto;
	  text-align: center;
	}
}
@media only screen and (min-width: 805px) and (max-width: 950px) { /*Only changed nav margins*/
	.bodytext { /*Text Content*/
		width: 75%;
  	float: none;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 12em;
	}
	section#hexagons { /*Main Hex Nav*/
		float: none;
		margin: 0 25% 0 25%; /*CHANGED THIS*/
	}
	/*Center Header elements here*/
	#logomark {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 0;
	  width: 70%;
	}
	#logomark img {
		display: block;
		margin-left: auto;
	  margin-right: auto;
	  width: auto;
	}
	#logotext {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  width: 80%;
	}
	#logotext img {
		display: block;
		margin-left: auto;
	  margin-right: auto;
	  width: auto;
	}
	#slogan {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 3em;
	  width: auto;
	  text-align: center;
	}
}
@media only screen and (min-width: 660px) and (max-width: 805px) { /*Only changed nav margins*/
	.bodytext { /*Text Content*/
		width: 75%;
  	float: none;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 12em;
	}
	section#hexagons { /*Main Hex Nav*/
		float: none;
		margin: 0 auto 0 auto; /*CHANGED THIS*/
	}
	/*Center Header elements here*/
	#logomark {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 0;
	  width: 70%;
	}
	#logomark img {
		display: block;
		margin-left: auto;
	  margin-right: auto;
	  width: auto;
	}
	#logotext {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  width: 80%;
	}
	#logotext img {
		display: block;
		margin-left: auto;
	  margin-right: auto;
	  width: auto;
	}
	#slogan {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 3em;
	  width: auto;
	  text-align: center;
	}
}
@media only screen and (min-width: 590px) and (max-width: 660px) { /*Changed width of Bodytext to shrink*/
	.bodytext {
		float: none;
		width: auto; /*CHANGED THIS*/
		margin-left: 1em;
		margin-top: 12em;
	}
	section#hexagons { /*Main Hex Nav*/
		float: none;
		margin: 0 auto 0 auto;
	}
	#logomark {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 0;
	  width: 70%;
	}
	#logomark img {
		display: block;
		margin-left: auto;
	  margin-right: auto;
	  width: auto;
	}
	#logotext {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  width: 80%;
	}
	#logotext img {
		display: block;
		margin-left: auto;
	  margin-right: auto;
	  width: auto;
	}
	#slogan {
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 3em;
	  width: auto;
	  text-align: center;
	}
}
@media only screen and (min-width: 515px) and (max-width: 590px) { /*start shrinking Company name, Slogan; put Bodytext @ 100%; */
	.bodytext {
		float: none;
		width: auto; 
		margin-left: 0; /*CHANGED*/
		margin-right: 0; /*CHANGED*/
		margin-top: 12em;
	}
	section#hexagons { /*Main Hex Nav*/
		float: none;
		margin: 0 auto 0 auto;
	}
	#logomark { 
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 0;
	  width: 70%;
	}
	#logomark img { /*Shrink this*/
		display: block; 
		margin-left: auto;
	  margin-right: auto;
	  width: auto;
	}
	#logotext { /*Shrink this*/
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  width: 80%;
	}
	#logotext img { /*Shrink this*/
		display: block;
		margin-left: auto;
	  margin-right: auto;
	  width: 90%; /*CHANGED from auto*/
	}
	#slogan { /*Shrink this*/
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 3em;
	  width: auto;
	  text-align: center;
	  font-size: 1.2em; /*CHANGED*/
	}
}
@media only screen and (min-width: 430px) and (max-width: 515px) { /*Shrink Bodytext h2 and ul*/
	.bodytext {
		float: none;
		width: auto; 
		margin-left: 0; /*CHANGED*/
		margin-right: 0; /*CHANGED*/
		margin-top: 12em;
	}
	/*New*/
	.bodytext h2 {
		font-size: 1.2em;
	}
	ul {
		font-size: .9em;
	}
	/*End New*/
	section#hexagons { /*Main Hex Nav*/
		float: none;
		margin: 0 auto 0 auto;
	}
	#logomark { 
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 0;
	  width: 70%;
	}
	#logomark img { /*Shrink this*/
		display: block; 
		margin-left: auto;
	  margin-right: auto;
	  width: auto;
	}
	#logotext { /*Shrink this*/
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  width: 80%;
	}
	#logotext img { /*Shrink this*/
		display: block;
		margin-left: auto;
	  margin-right: auto;
	  width: 90%; /*CHANGED from auto*/
	}
	#slogan { /*Shrink this*/
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 3em;
	  width: auto;
	  text-align: center;
	  font-size: 1.2em; /*CHANGED*/
	}
}
@media only screen and (max-width: 430px) { /*Add Hamburger menu here; Shrink Slogan, etc.*/
	.bodytext {
		float: none;
		width: auto; 
		margin-left: 0; /*CHANGED*/
		margin-right: 0; /*CHANGED*/
		margin-top: 1em; /*CHANGED from 12em*/
	}
	/*New*/
	.bodytext h2 {
		font-size: 1.2em;
		margin-bottom: 1em; /*ADDED*/
	}
	ul {
		font-size: .9em;
	}
	/*End New*/
	section#hexagons { /*Main Hex Nav*/
		float: none;
		margin: 0 auto 0 auto;
	}
	#logomark { 
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 0;
	  width: 70%;
	}
	#logomark img { /*DISAPPEAR this when get logo in Ham working?*/
		display: block; 
		margin-left: auto;
	  margin-right: auto;
	  width: 35%;
	}
	#logotext { /*Shrink this*/
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  width: 80%;
	}
	#logotext img { /*Shrink this*/
		display: block;
		margin-left: auto;
	  margin-right: auto;
	  width: 90%; /*CHANGED from auto*/
	}
	#slogan { /*Shrink this*/
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 2em; /*Decreased spacing here*/
	  width: auto;
	  text-align: center;
	  font-size: .9em; /*CHANGED*/
	}
	/*Nav elements*/
	.homemobile-nav {
		display: block; /*makes Hamburger visible*/
	}
	section#hexagons {
		display: none;
	}
}
@media only screen and (max-width: 320px) { /*Fixed padding of h2 and slogan here*/
	.bodytext {
		float: none;
		width: auto; 
		margin-left: 0; /*CHANGED*/
		margin-right: 0; /*CHANGED*/
		margin-top: 1em; /*CHANGED from 12em*/
	}
	/*New*/
	.bodytext h2 {
		font-size: 1.2em;
		margin-bottom: 1.5em; /*Fixed*/
	}
	ul {
		font-size: .9em;
	}
	/*End New*/
	section#hexagons { /*Main Hex Nav*/
		float: none;
		margin: 0 auto 0 auto;
	}
	#logomark { 
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 0;
	  width: 70%;
	}
	#logomark img { /*DISAPPEAR this when get logo in Ham working?*/
		display: block; 
		margin-left: auto;
	  margin-right: auto;
	  width: 35%;
	}
	#logotext { /*Shrink this*/
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  width: 80%;
	}
	#logotext img { /*Shrink this*/
		display: block;
		margin-left: auto;
	  margin-right: auto;
	  width: 90%; /*CHANGED from auto*/
	}
	#slogan { /*Shrink this*/
		float: none;
		margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 1.5em; /*Decreased spacing here--Fixed*/
	  width: auto;
	  text-align: center;
	  font-size: .9em; /*CHANGED*/
	}
	/*Nav elements*/
	.homemobile-nav {
		display: block; /*makes Hamburger visible*/
	}
	section#hexagons {
		display: none;
	}
}
/***************************
Work page media queries here
***************************/
@media only screen and (min-width: 1208px) and (max-width: 1260px) {
	header h1{
		padding: 0 0 0 .5em; /*Set left padding to .5em*/
	}
	nav {
		padding: 0 .5em 0 0; /*Set right padding to .5em*/
	}
}
@media only screen and (min-width: 1125px) and (max-width: 1208px) {
	header h1{
		padding: 0 0 0 .5em; /*Set left padding to .5em*/
	}
	nav {
		padding: 0 .5em 0 0; /*Set right padding to .5em*/
	}
/*New for this media query*/
	.workinfo p{
		font-size: .9em;
	}
}
@media only screen and (min-width: 885px) and (max-width: 1125px) { /*start stacking elements!*/
	header h1{
		padding: 0 0 0 .5em; /*Set left padding to .5em*/
	}
	nav {
		padding: 0 .5em 0 0; /*Set right padding to .5em*/
	}
	.workinfo p{
		font-size: .9em;
	}
	.workinfo h2{
		padding-left: .7em;
	}
/*New for this media query--Stack main page elements*/
	.workinfo { /*Container of subheader and paragraphs of each work*/
		float: none;
		margin: .5em 3em 5em 3em;
		padding: 1em;
		width: auto;
		max-width: none;
	}
	.workdescription p{ /*Each bodycopy column*/
		float: left;
		width: 33%;
		padding: 1em;
		margin: 0;
	  /*-webkit-column-count: 3;
		-webkit-column-gap: 2em;
		-moz-column-count: 3;
		-moz-column-gap: 2em;*/
	}
	#featuredworks img{
		float: none;
		width: 100%;
		max-width: none;
		padding: 3em;
		margin: 0 auto 0 auto;
		}
}
@media only screen and (min-width: 580px) and (max-width: 885px) { /*change paragraphs to stack vertically*/
	section h1{
		padding: 0 0 0 .5em; /*Set left padding to .5em    Delete?*/
	}
	nav {
		padding: 0 .5em 0 0; /*Set right padding to .5em*/
	}
	.workinfo p{
		font-size: .9em;
	}
	.workinfo {
		float: none;
		margin: .5em 3em 5em 3em;
		padding: 1em;
		width: auto;
		max-width: none;
	}
	.workdescription {
		width: auto;
	}
	.workdescription p{ /*Changed this to center paragraphs within white box*/
		float: none;
		width: 100%; /*Need at 100% for padding*/
		padding: 0;
		margin: 0 auto .5em auto; /*Changed this!*/
	}
	#featuredworks img{
		float: none;
		width: 100%;
		max-width: none;
		padding: 3em;
		margin: 0 auto 0 auto;
	}
/*New for this media query*/
	.workinfo h1 {
		width: 50%;
	}	
}
@media only screen and (max-width: 580px) { /*Hamburger menu and page elements to full width*/
	section h1{
		padding: 0 0 0 .5em; /*Set left padding to .5em    Delete?*/
	}
	nav {
		padding: 0 .5em 0 0; /*Set right padding to .5em*/
	}
	.workinfo p{
		font-size: .9em;
	}
	.workinfo {
		float: none;
		margin: 0; /*Took off all margins around bodycopy element*/
		padding: 1em;
		width: auto;
		max-width: none;
	}
	.workdescription {
		width: auto;
	}
	.workdescription p{ /*Changed this to center paragraphs within white box*/
		float: none;
		width: 100%; 
		padding: 0;
		margin: 0 auto .5em auto;
	}
	#featuredworks img{
		float: none;
		width: 100%;
		max-width: none;
		padding: 0 0 1.5em 0; /*Took off L & R padding*/
		margin: 0 auto 0 auto;
	}
	.workinfo h1 {
		width: 50%;
	}
/*New for this media query*/
	.mobile-nav {
		display: block; /*makes Hamburger visible*/
	}
	nav {
		display: none;
	}
	.logomarkothers { /*Fix this! not working!*/
		display: none;
	}
}
/****************************
About page media queries here
****************************/
@media only screen and (max-width: 1010px) { /*Change Experts arrangement to 2 top, 2 bottom*/
	#one {
		float: left;
	  width: 40%;
	  margin-left: 5em;
	}
	#two {
		float: right;
	  width: 40%;
	  margin-right: 5em;
	}
	#three {
		float: left;
	  width: 40%;
	  margin-left: 5em;
	}
	#four {
		float: right;
	  width: 40%;
	  margin-right: 5em;
	}
}
@media only screen and (max-width: 915px) { /*Change experts arrangement to stacked on top of each other*/

}

/******************************
Contact page media queries here
******************************/