* {margin:0;padding:0;box-sizing:border-box;}
body {
    background: #fff;
    font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px; /*Base font size=18pt=24px*/
    color: #784213; /*light brown*/
}
header {
  background: #fff url(images/heroimage.jpg) no-repeat center center;
  background-size: cover;
  min-height: 900px;
  padding: 1em 0 5em 1em;
}
#main-headline, h1 {
  font-size: 4.333em;/*Main headers=52pt=104px=4.333em*/
  color: #663f1c;/*dark brown*/
  font-weight: bold;
}
h2 { /*subheadings in //FEATURES and question at top of //FOOTER*/
  font-size: 2.222em;
  color: #784213; /*light brown*/
}
.main-text, h3 { /*subheader in //HEADER AKA class .main-text*/
  font-size: 1.555em;
  color: #784213; /*light brown*/
}

